<html>
  <head>
    <title>profile</title>
  <head>
  <body>
    <h3>Profile</h3>
    <p><a href="">Show all data</a><%= profile.name%></p>
    <form action="/profile/update/<%=profile.id %>" method="post">
      <p>Name</p>
      <input type="text" name="name" value="<%=profile.id %>">
      <p>Company</p>
      <input type="text" name="company" value="<%=profile.company %>">
      <p>Address</p>
      <input type="text" name="address" value="<%=profile.address %>">
      <p>
      <input type="submit" value="UPDATE PROFILE">
      </p>
    </form>
  </body>
</html>
